body{
    background-color: #eee;
}
form{
    margin: 180px auto;
    width: 350px;
    height: 250px;
    background: white;
    border-bottom: 4px solid darkorange;
}
form label{
    display: block;
    color: white;
    background: #f07800;
    padding: 12px 0;
    text-align: center; 
    font-size: 20px;
    font-weight: bold;
    font-family: cursive;
}
form input[type="text"], input[type="password"]{
    width: 230px;
    padding: 12px 40px;
    font-weight: bold;
    font-family: cursive;
    margin-left: 18px;
    margin-bottom: 10px;
    border: 1px solid #f07800;
    -moz-transition: all 0.5s;
}

form input[type="text"]{
    background: url("../recursos/user2.png") 5px no-repeat;
}
form input[type="password"]{
    background: url("../recursos/passwd.gif") 5px no-repeat;
}

form input[type="text"]:focus, input[type="password"]:focus{
    border: 1px solid #333;
    background: none;
    width: 290px;
    padding: 12px 10px;
}
form input[type="submit"]{
    background: #f07800;
    color: white;
    display: inline-block;
    margin-left: 18px;
    margin-bottom: 10px;
    padding: 8px 20px;
    border: none;
    font-weight: bold;
    align-items: center;
    alignment-adjust: auto;
}
form input[type="submit"]:hover{
    background: darkorange;
    cursor: pointer;
}

form title {
    background: darkorange;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:#444;
    background: darkorange;
    background-color:transparent;
    border-bottom:1px solid #D0D0D0;
    font-size:14px;
    font-weight:400;
    margin:0 0 14px;
    padding:14px 15px 10px;
    alignment-adjust: central;
    font-family: Arial, Helvetica, sans-serif;
        
}